textarea{
	resize: none;
}
.single-story{
	padding-top:15px;
}
.single-story-content{
	background:#f5f5fc;
	padding:15px;
	text-align:justify;
	text-justify:auto;
}
.single-story-content:hover{
	background:#e3e3f6;
}
.share-icons{
	margin-left:5px;
}
h5{
	margin-top:0px;
}
.no-break { page-break-after: avoid;  } 
